:root {
  --dark: #2e2f42;
  --text: #434455;
  --main-background-color: #e5e5e5;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --grey: rgba(46, 47, 66, 0.7);
  --ocean: #404bbf;
  --pressed-state-icon: #31d0aa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

/* base style */
.container {
  /* min-width: 320px; */
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  /* outline: 2px solid red; */
}
/* tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.header-box {
  border-bottom: 1px solid var(--cornflower);
  /* display: flex; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /* margin-right: 0; */
}

/* basis */
.header-content {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 767px) {
  .header-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  .header-content {
    /* margin: 0 auto; */
  }
}

/* desktop */
@media only screen and (min-width: 1158px) {
  .header-content {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 24px 0;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

/* basis */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 76px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-right: 40px;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--ocean);
}

.nav-link::after {
  content: ;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
}

/* basis */
.list {
  list-style-type: none;
}

.address {
  font-style: normal;
  align-self: center;
  flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .address {
    display: none;
  }
}

.address-list {
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .address-list {
    /* margin-left: 332px; */
    display: flex;
    gap: 40px;
  }
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) and (max-width: maxwidth1157px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
  }
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

.address-items {
  /* margin-right: 40px;
  align-items: baseline; */
}

.address-items:last-child {
  /* margin-right: 0; */
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .address-items:not(:last-child) {
    /* margin-bottom: 12px; */
  }
}

/* main */
.main {
  background-color: var(--main-background-color);
}

.hero {
  background-color: var(--dark);
  padding: 188px 0;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people-office@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/people-office@2x.jpg);
  }
}

/* basis */
.hero-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--white-background);
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 60px;
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    height: 120px;
    max-width: 496px;
    margin-bottom: 48px;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--primary-brand);
  color: var(--white-background);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* basis */
.feature {
  padding: 96px 16px;
}

/* tablet */
@media only screen and (min-width: 768pxpx) {
  .feature {
  }
}

/* desktop */
@media only screen and (min-width: 1158px) {
  .feature {
    padding: 120px 0;
  }
}

/* basis */
.feature-list {
  display: block;
}

@media only screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-list {
    display: flex;
    gap: 24px;
  }
  .feature-list:last-child {
    margin-right: 0;
  }
}

/* basis */
.feature-items {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .feature-items {
    width: 356px;
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .feature-items {
    flex-basis: calc((100% - 72px) / 4);
    gap: 24px;
  }
}

/* basis */
.feature-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  padding-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
  }
}

/* basis */
.feature-page {
  font-style: normal;
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.feature-icons {
  padding-bottom: 8px;
}

@media only screen and (max-width: 1157px) {
  .feature-icons {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-icons {
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--light);
    margin-bottom: 8px;
  }
}

/* work */

@media only screen and (max-width: 1157px) {
  .work {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .work {
    padding-bottom: 120px;
  }
  .work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
  }
  .work-items {
    display: flex;
    margin-right: 24px;
    gap: 24px;
  }
  .work-items:last-child {
    margin-right: 0;
  }
  .work-img {
    width: calc((100% - 48px) / 3);
  }
}

/* basis */
.team {
  display: block;
  background-color: var(--light);
}

@media only screen and (max-width: 767px) {
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 768px) {
  .team {
    display: flex;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .team-title {
    padding-top: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-title {
    padding-top: 120px;
  }
}

/* basis */
.fon {
  display: flex;
  max-width: 264px;

  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;

  gap: 32px;
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767px) {
  .fon:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .fon {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .fon {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* basis */
.employe {
  padding-bottom: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  margin-bottom: 8px;
}

.team-page {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
  margin-bottom: 8px;
}

/* basis */
.team-box {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .team-box {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    padding-bottom: 96px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team-box {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-shrink: 0;
    padding: 72px 0 120px 0;
  }
}

.team-box:last-child {
  /* margin-bottom: 0; */
  /* margin-right: 0; */
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .social-page {
    text-align: center;
  }
}

.social-icon {
  fill: var(--light);
}

/* portfolio-html */

.main-box {
  padding: 96px 0 120px 0;
}

.list-btn {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 767px) {
  .list-btn {
    flex-wrap: wrap;
    margin-bottom: 48px;
    gap: 16px 24px;
  }
}
@media only screen and (min-width: 768px) {
  .list-btn {
    margin-bottom: 64px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .list-btn {
    margin-bottom: 72px;
    justify-content: center;
  }
}

.list-btn:last-child {
  margin-right: 0;
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand);
  background-color: var(--light);
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.set-box {
  position: relative;
  overflow: hidden;
}

.set-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media only screen and (min-width: 768px) {
  .set-list {
    display: flex;
    max-width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    padding: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .set-list {
    max-width: 1158px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* padding: 0; */
  }
}

.set-items {
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
  width: 396px;
  border: 1px solid var(--light);
  background: var(--white-background);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .set-items {
    width: calc((100% - 24px) / 2);
    /* width: 356px; */
    align-items: flex-start;
    margin: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .set-items {
    /* flex-basis: calc((100% - 48px) / 3); */
    width: calc((100% - 48px) / 3);
    /* height: 420px; */
    /* flex-direction: column; */

    flex-shrink: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.set-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.picture {
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .picture {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .picture {
    width: 360px;
  }
}

.picture-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: var(--primary-brand);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.set-link:hover .picture-text,
.set-link:focus .picture-text {
  transform: translateY(0%);
}

.set-text {
  display: flex;
  padding: 0 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 396px;
  align-self: stretch;
  border: 1px solid var(--cornflower);
  border-top: none;
}

@media only screen and (min-width: 768px) {
  .set-text {
    width: 356px;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1158px) {
  .set-text {
    width: 360px;
  }
}

.main-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  /* margin-bottom: 8px; */
}

.main-page {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.main-page:hover {
  transform: translateY(0%);
}

/* basis */
.customers {
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    max-width: 584px;
  }
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--dark);
  padding-bottom: 72px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-top: 120px;
}

/* basis */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
  }
}

/* basis */
.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
  width: 168px;
}

@media only screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

.customers-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
}

/* footer */

/* basis */
.foot {
  background-color: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* basis */
.footer-content {
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    justify-content: flex-start;
  }

  @media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-content {
      width: 584px;
    }
  }
}

@media only screen and (min-width: 1158px) {
  .footer-content {
    align-items: baseline;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    max-width: 584px;
  }
}

.footer-box {
}

@media only screen and (max-width: 767px) {
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 72px;
    text-align: center;
  }
}

.word-color {
  color: var(--light);
}

.logo-element {
  color: var(--dark);
}

/* basis */
.logo-foot {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-bottom: 18px;
  display: inline-block;
}

/* basis */
.foot-page {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  width: 268px;
  text-align: left;
  padding-top: 18px;
}

@media only screen and (min-width: 768px) {
  .foot-page {
    max-width: 264px;
  }
}

.footer-socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--pressed-state-icon);
}

.footer-icon {
  fill: var(--light);
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  .subscribe-text {
    text-align: center;
  }
}

.footer-form {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 767px) {
  .footer-form {
    flex-direction: column;
  }
}

.footer-form-label {
}

.footer-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-button {
  width: 165px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--primary-brand);
  border: none;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  .footer-button {
    margin: 0;
  }
}

.footer-button-icon {
  margin-left: 16px;
}

/* Modal style */

.backdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: scroll;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: calc(100% - 36px);
  max-width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  display: block;
  margin-bottom: 4px;
  margin-top: 8px;
}
.modal-form-block {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-brand);
}

.modal-form-text {
  margin-bottom: 16px;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

/* basis */
.checkbox-container {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.checkbox-input-hidden {
}

.checkbox-input-hidden:checked + .confirm-label .check-box {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.confirm-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}

.check-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.modal-button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

/* mobil-menu */

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 35px 40px 40px;
  height: 100%;
  background-color: var(--white-background);
  z-index: 999;
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.js-close-menu {
}

.btn-mobil {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-close-icon {
  color: var(--dark);
}

.mobile-nav {
  /* padding-top: 80px;
  padding-left: 40px; */
}

.mobile-menu {
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark);
  transition: color 250ms;
}

.mobile-menu-link-color {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  transition: color 250ms;
  color: var(--primary-brand);
}

.mobile-addr-social-media-wrapper {
}

.mobile-address {
  /* padding-left: 40px; */
  font-style: normal;
}

.mobile-address-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin-bottom: 48px;
}

.mobile-address-list-item {
  min-width: 320px;
}

.mobile-address-tel-link {
  color: var(--primary-brand);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  flex-shrink: 0;
  width: 100%;
}

@media only screen and (max-width: 427px) {
  .mobile-address-tel-link {
    font-size: 30px;
  }
}

.mobile-address-mail-link {
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.mobile-social-media-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  /* padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 48px; */
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .mobile-social-media-list {
    gap: 40px;
  }
}

.mobile-social-media-item {
}

.mobile-social-media-item-link {
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-media-icon {
  fill: var(--light);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu .link {
  display: block;
  text-decoration: none;
}
