:root {
  --white: #ffffff;
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffff;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 25.5px;
  padding-bottom: 23.5px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
}
.header-menu-list {
  display: none;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;
}

.adress {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}
.header-adress-link {
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover {
  color: #404bbf;
}

.header-adress-link:focus {
  color: #404bbf;
}

.menu-open-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.mob-open-icon {
  fill: #2e2f42;
  stroke: #2e2f42;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  padding: 24px 24px 40px 40px;
  background-color: #ffffff;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 32px;
  border-radius: 50%;
}

.modal-imag {
  border-color: #e7e9fc;
}

.mob-menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.mob-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.header-menu-link:focus {
  color: #404bbf;
}

.mob-adress-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 48px;
}

.mob-adress-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.blu {
  color: #4d5ae5;
}

.tel {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mob-social-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 36px;
}

.mob-social-item {
  width: 40px;
  height: 40px;
}

.mob-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-imag-icons {
  fill: #f4f4fd;
}

/************************************************************************************/
.hero {
  background: #2e2f42;
  margin: 0 auto;
  /*  */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  height: 432px;
  padding-bottom: 112px;
  padding-top: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-titl {
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 320px;
  font-size: 36px;
  line-height: 1.11;
}
.hero-button {
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 72px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
  align-items: flex-start;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;

  justify-content: center;
}

.advantages-icons {
  display: none;
}

.imag-icons {
  border-radius: 4px;
  flex-shrink: 0;
}

.advantages-titl {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 396px;
  margin-bottom: 8px;
  text-align: center;
}

.advantages-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 396px;
}

.services {
  display: none;
}

.team {
  background-color: #f4f4fd;
  padding-bottom: 96px;
  padding-top: 96px;
  display: flex;
}

.team-list {
  display: block;
}

.team-item {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin-top: 72px;
  max-width: 264px;
  height: 428px;
  margin: 0 auto;
}
.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-titl {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-cart {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-titl-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover {
  background-color: #404bbf;
}

.team-link:focus {
  background-color: #404bbf;
}

.tem-imag-icons {
  fill: #f4f4fd;
}

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-titl {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
}

.customers-item {
  width: 190px;
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid  #8e8f99)
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-imag-icons {
  fill: currentColor;
  flex-shrink: 0;
}

.footer {
  background: #2e2f42;

  padding-top: 97.5px;
  padding-bottom: 104px;
  height: 664px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-wramp {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-logo-link {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
  padding-left: 80px;
  text-align: center;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-social {
  align-items: flex-end;
  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-imag-icons {
  fill: #f4f4fd;
}

.footer-form {
  display: block;
}

.foote-form-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-form-input {
  width: 291px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  margin: 0 auto;
}

.footer-button-icon {
  margin-left: 16px;
  fill: #f4f4fd;
}

.section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.section button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background: #f4f4fd;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section button:hover {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section button:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-two-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-two-item {
  width: calc((100% - 48px) / 3);
}

.section-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-link:hover p {
  transform: translateY(0%);
}

.section-link:focus p {
  transform: translateY(0%);
}
.cart {
  padding-bottom: 120px;
  border-bottom: 1px solid #e7e9fc;
  background: #ffffff;
}

.cart-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.imag-container {
  position: relative;
  overflow: hidden;
}
.imag-text {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-titl {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*modalne vikno*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /**/
  width: 320px;
  min-height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-imag {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-imag {
  fill: #ffffff;
}

.modal-close-btn:focus .modal-imag {
  fill: #ffffff;
}

.modal-title {
  margin-bottom: 16px;
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.modal-input:focus {
  border: 1px solid var(--iris, #4d5ae5);
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  fill: var(--navyblue, #2e2f42);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment:focus {
  border: 1px solid var(--iris, #4d5ae5);
}

.modal-comment::placeholder {
  color: var(--navyblue, #2e2f42);
  opacity: 0.4;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-input {
  width: 16px;
  height: 16px;
}

.modal-checkbox-text {
  color: var(--lightslate, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.pryvacy-link {
  color: var(--iris, #4d5ae5);
}

.modal-checkbox-input:checked + .modal-checkbox-text .privacy-span {
  background-color: var(--ocean, #404bbf);
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-input:focus + .modal-checkbox-text .privacy-span {
  border-color: var(--ocean, #404bbf);
}

.modal-form-btn {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: transparent;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
